/*  font-family: 'Circe Thin';*/
@font-face {
    font-family: 'Circe Thin';
    src: url('../fonts/CirceThin/Circe-Thin.eot');
    src: url('../fonts/CirceThin/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceThin/Circe-Thin.woff') format('woff'),
    url('../fonts/CirceThin/Circe-Thin.ttf') format('truetype'),
    url('../fonts/CirceThin/Circe-Thin.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Circe Extra Light'; */
@font-face {
    font-family: 'Circe Extra Light';
    src: url('../fonts/CirceExtraLight/Circe-ExtraLight.eot');
    src: url('../fonts/CirceExtraLight/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceExtraLight/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/CirceExtraLight/Circe-ExtraLight.ttf') format('truetype'),
    url('../fonts/CirceExtraLight/Circe-ExtraLight.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Circe Light'; */
@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/CirceLight/Circe-Light.eot');
    src: url('../fonts/CirceLight/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceLight/Circe-Light.woff') format('woff'),
    url('../fonts/CirceLight/Circe-Light.ttf') format('truetype'),
    url('../fonts/CirceLight/Circe-Light.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Circe Regular'; */
@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/CirceRegular/Circe-Regular.eot');
    src: url('../fonts/CirceRegular/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceRegular/Circe-Regular.woff') format('woff'),
    url('../fonts/CirceRegular/Circe-Regular.ttf') format('truetype'),
    url('../fonts/CirceRegular/Circe-Regular.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Circe Bold'; */
@font-face {
    font-family: 'Circe Bold';
    src: url('../fonts/CirceBold/Circe-Bold.eot');
    src: url('../fonts/CirceBold/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceBold/Circe-Bold.woff') format('woff'),
    url('../fonts/CirceBold/Circe-Bold.ttf') format('truetype'),
    url('../fonts/CirceBold/Circe-Bold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Circe Extra Bold'; */
@font-face {
    font-family: 'Circe Extra Bold';
    src: url('../fonts/CirceExtraBold/Circe-ExtraBold.eot');
    src: url('../fonts/CirceExtraBold/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CirceExtraBold/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/CirceExtraBold/Circe-ExtraBold.ttf') format('truetype'),
    url('../fonts/CirceExtraBold/Circe-ExtraBold.svg#webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}  